------------------------------------------------------------------
Dear $name                                 	$today
------------------------------------------------------------------

	$body








Best Regards,
$recName